#base {
	-fx-pref-width: 1200px;
	-fx-padding: 10px;
	-fx-spacing: 10px;
}

#lista {
	-fx-pref-width: 300px;
	-fx-spacing: 10px;
	
}

#quadros {
	-fx-pref-width: 670px;
	-fx-padding-left: 10px;
	
	-fx-hgap: 20px;
	-fx-vgap: 20px;
	-fx-effect: dropshadow( gaussian , grey , 10 , 0 , 0 , 0 );
	-fx-alignment: center;
	
}

#rolagem {
	-fx-pref-width: 700px;
}

.qds {
	-fx-background-color: ghostwhite;
	-fx-padding: 5px;
}