#baseAbas {
	-fx-pref-height: 1024px;
	
}

#rodape {
	
	-fx-border-radius: 100px;
	-fx-border-insets: 5px;
	-fx-padding: 10px;
	-fx-spacing: 15px;
	-fx-background-insets: 5px;
	-fx-margin: 20%;
	
}

#tfComando {
	-fx-pref-width: 512px;
}

